*{
    box-sizing: border-box;
}

body{
    font-family: Corbel, Serif;
    background-color: gray;
}

fieldset{

    background-image: url("../img/back.jpg");
    background-position: center;
    background-size: cover;

    box-shadow: black 10px 10px 10px;

    width: 12.9cm;
    height: 8.1cm;
    border: none;
    border-radius: 0.3cm;
    margin: 20vh auto;
    padding-left: 30px;
    padding-top: 35px;
}

legend{
    position: relative;
    left: -40px;
    top: 40px;
    width: 10cm;
    background-color: coral;
    padding: 3% 10%;
    font-weight: bold;
}

label{
    display: block;
    color: white;
}

input{
    border: none;
    background-color: rgba(43, 86, 226, 0.65);
    box-shadow: inset 2px 2px 3px rgba(154, 147, 140, 0.5),
                1px 1px 3px rgba(255, 255, 255, 1);
    height: 30px;
    color: white;
    padding-left: 10px;

}

input:invalid{
    background-color: rgba(255, 87, 127, 0.75);
}


div{
    margin-top: 20px;
}

.long{
    width: 300px;
}

.short{
    width: 80px;
}

.inlineDiv{
    display: inline-block;

}

.flexDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 410px;
    margin-top: 0;
}

.send{
    padding: 0 10px;
    width: 80px;
    border: #25b616 solid 1px;
    border-radius: 0.3cm;
    box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5);
}

.send:disabled{
    border: #ff577f solid 1px;
    color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

